
.container-barra-pesquisa {

  margin-top: 80px;
  padding-left: 100px;
}


#botao {
  padding: 1px 20px;
  border-radius: 9px;
  border: 0;
  font-size: 15px;

}

#barra {
  border-radius: 5px;
  border: 0;
  color: rgb(197, 197, 197);

}

h1 {
  padding: 10px;
}

a {
  font-size: 5px;
}

