<div class="Imagens">

<div class="image-card1">
  <img src="https://www.apple.com/newsroom/images/product/iphone/standard/Apple_iphone13_design_09142021_big.jpg.slideshow-xlarge_2x.jpg" alt="">
  <p> <strong> {{Subtitulo}} </strong> </p>
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia sit iure consequuntur praesentium. Quae ducimus, nesciunt in veniam atque necessitatibus maiores maxime, minus saepe ipsam architecto accusantium voluptatem iste consequuntur? </p>
  <p><a> Leia o post </a></p>
</div>
  <div class="image-card2">
  <img src="https://www.apple.com/newsroom/images/product/iphone/geo/Apple_iphone13_colors_geo_09142021_big.jpg.slideshow-large_2x.jpg" alt="">
  <p> <strong> {{Subtitulo}} </strong> </p>
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti facere aut porro aliquam nesciunt eaque rerum et vitae beatae aperiam  ducimus optio consequuntur eveniet eius officiis repellat, dolore maxime? Est? </p>
  <p><a> Link do produto </a></p>
</div>

</div>

